extends layout

block content
  script.
    setTimeout(function () {
      location.reload();
    }, 3000);
  #page
    h1= title
    h2= state
    form#form(method='post' action='/handler')
      p ID :
      input(type='text' name='idinput')
      br
      input(type='submit' value="Chercher")
    #results
      h3 Last log
      div
        | ID :
        label=id
      div
        | Temps :
        label=temps
      div
        | Température :
        label=temperature
      div
        | Humidité :
        label=humidite
    #logs
      div=logs


