extends layout

block content
  #page
    h1= title
    h2= state
    form#form(method='post' action='/handler')
      p ID :
      input(type='text' name='idinput')
      br
      input(type='submit' value="Chercher")
    #results
      div
        | ID :
        label=id
      div
        | Temps :
        label=temps
      div
        | Température :
        label=temperature
      div
        | Humidité :
        label=humidite


